.ellipse {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #bdbdbd !important;
}
.ellipse.red {
background-color: #ff3860 !important;
}
.ellipse.yellow {
background-color: #ffdd57 !important;
}
.ellipse.green {
background-color: #23d160 !important;
}