/*#patient-detail .tabs li > div { cursor: pointer; }*/

.bg-high {
  background-color: #ff3860 !important;
}
.bg-medium {
  background-color: #ffdd57 !important;
}
.bg-low {
  background-color: #23d160 !important;
}

.clean-ul{
  list-style-type: none !important;
}