// Might be better, but i'm tired
.card-content {
  display: none;
  &.is-expanded {
    display: block;
  }
}

.custom-card-title{
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  padding: 0.75rem 1rem;
  .card-title{
    font-weight: 700;
    width: 100%;
  }
  .card-subtitle{
    font-weight: 200;
    padding-left: 2rem;
    width: 100%;
  }
}
