@import 'styles/colors.scss';

.sidebar {
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .top .logo {
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: bold;
  height: 15vh;
}

.sidebar .top .user {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 22vh;
}

.sidebar .top .user p { margin-bottom: 0; }

.sidebar .top .user small { color:  #7a7a7a; }
.sidebar .top .user small:hover { 
  cursor: pointer;
  text-decoration: underline; 
}

.sidebar .top .content,
.sidebar .bottom {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.sidebar .top .menu .item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background: $primary;
  cursor: pointer;
}

.sidebar .bottom ul.menu-list {
  margin: 2vh 1vw 3vh 1vw;
}

.sidebar .bottom ul.menu-list li {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.sidebar .bottom ul.menu-list li a:hover {
  background-color: white;
}

.sidebar .bottom ul.menu-list li a.active {
  background-color: #dddddd;
}

.menu-list li ul {
  border-left: 0px;
}

.Dashboard-Customers .text-style-1 {
  color: #ffffff;
}

.Dot {
  display: flex !important;
  align-items: center;
}
