@import 'styles/colors.scss';
@import 'styles/index.scss';

#dashboard-page .top {
  height: 28vh;
  display: flex;
  
  align-items: center;
}

#dashboard-page .top .form {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

#dashboard-page .top .form p {
  font-weight: 600;
  margin-bottom: 1vh;
}

#dashboard-page .top .form .fields {
  display: flex;
  justify-content: space-between;
}

#dashboard-page .top .form .fields .field {
  margin: 0;
}

#dashboard-page .top .right.buttons {
  margin-top: 1vh;
  float: right;
}

#dashboard-page .top .right.buttons .reset {
  background: $lightGray;
  border: 1px solid $lightGray;
  color: $gray;
}

.rootRow {
  display: flex;
  flex-direction: row;
}

.colSideBar {
  background: $lightGray;
}

.colDashboard {
  flex: 6;
}

#dashboard-page .bottom {
  position: absolute;
  bottom: 0;
  width: 100vw - $sidebarWidth;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #7a7a7a;
}

#dashboard-page .bottom small {
  margin: auto;
}