@import 'styles/colors.scss';

#dashboard-page .top {
  height: 25vh;
  display: flex;
  
  align-items: center;
}

#dashboard-page .top .form {
  width: 100%;
}

#dashboard-page .top .right.buttons {
  float: right;
}

.rootRow {
  display: flex;
  flex-direction: row;
}

.colSideBar {
  background: $lightGray;
}

.colDashboard {
  flex: 6;
}
